$phone: 500px;
$tablet-portrait: 768px;
$tablet-landscape: 1200px;
$big-desktop: 1800px;

@mixin respondMax($breakpoint) {
  @media (max-width: $breakpoint/16px *1em) {
    @content;
  }
}

@mixin respondMin($breakpoint) {
  @media (min-width: $breakpoint/16px *1em) {
    @content;
  }
}
