:root {
  --color-black: 0, 0, 0;
  --color-background: 246, 241, 239;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: rgba(var(--color-black), 1);
  padding: 0rem 4rem 0rem 4rem;
}
@media (max-width: 31.25em) {
  body {
    padding: 0rem 2rem 0rem 2rem;
  }
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

.name-line {
  background-color: white;
  flex: 1 0 0;
  height: 0.2rem;
}
@media (max-width: 21.875em) {
  .name-line {
    display: none;
  }
}
.name-line__left {
  margin-right: 2rem;
}
.name-line__right {
  margin-left: 2rem;
}

header {
  height: 5rem;
  padding: 8rem 3rem 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  color: white;
}
@media (max-width: 31.25em) {
  .Name {
    font-size: 3.3rem;
  }
}
@media (max-width: 26.875em) {
  .Name {
    font-size: 3rem;
  }
}
@media (max-width: 24.375em) {
  .Name {
    font-size: 2.4rem;
  }
}

.VideoContainer {
  width: 70%;
  height: 50rem;
}
@media (max-width: 62.5em) {
  .VideoContainer {
    width: 90%;
  }
}
@media (max-width: 50em) {
  .VideoContainer {
    height: 40rem;
  }
}
@media (max-width: 43.75em) {
  .VideoContainer {
    height: 30rem;
  }
}
@media (max-width: 37.5em) {
  .VideoContainer {
    width: 100%;
  }
}
@media (max-width: 25em) {
  .VideoContainer {
    height: 25rem;
  }
}

.VideoContainer-full {
  width: 90rem;
  height: 50rem;
  background-color: white;
}
@media (max-width: 84.375em) {
  .VideoContainer-full {
    width: 70%;
  }
}
@media (max-width: 62.5em) {
  .VideoContainer-full {
    width: 90%;
  }
}
@media (max-width: 51.875em) {
  .VideoContainer-full {
    height: 40rem;
  }
}
@media (max-width: 43.75em) {
  .VideoContainer-full {
    height: 30rem;
  }
}
@media (max-width: 37.5em) {
  .VideoContainer-full {
    width: 100%;
  }
}
@media (max-width: 26.875em) {
  .VideoContainer-full {
    height: 20rem;
  }
}
@media (max-width: 25em) {
  .VideoContainer-full {
    height: 25rem;
  }
}
@media (max-width: 23.125em) {
  .VideoContainer-full {
    height: 24rem;
  }
}
@media (max-width: 22.5em) {
  .VideoContainer-full {
    height: 22rem;
  }
}
@media (max-width: 20.9375em) {
  .VideoContainer-full {
    height: 20rem;
  }
}

footer {
  margin-top: 5rem;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

.Footer__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 2rem;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main div:not(:last-child) {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=index.css.map */
