@use "../abstracts";

header {
  height: 5rem;
  padding: 8rem 3rem 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  color: white;
  @include abstracts.respondMax(500px) {
    font-size: 3.3rem;
  }
  @include abstracts.respondMax(430px) {
    font-size: 3rem;
  }
  @include abstracts.respondMax(390px) {
    font-size: 2.4rem;
  }
}
