@use "../abstracts";

.VideoContainer {
  width: 70%;
  height: 50rem;
  @include abstracts.respondMax(1000px) {
    width: 90%;
  }
  @include abstracts.respondMax(800px) {
    height: 40rem;
  }
  @include abstracts.respondMax(700px) {
    height: 30rem;
  }
  @include abstracts.respondMax(600px) {
    width: 100%;
  }
}

.VideoContainer-full {
  width: 90rem;
  height: 50rem;
  background-color: white;
  @include abstracts.respondMax(1350px) {
    width: 70%;
  }
  @include abstracts.respondMax(1000px) {
    width: 90%;
  }
  @include abstracts.respondMax(830px) {
    height: 40rem;
  }
  @include abstracts.respondMax(700px) {
    height: 30rem;
  }
  @include abstracts.respondMax(600px) {
    width: 100%;
  }
  @include abstracts.respondMax(430px) {
    height: 20rem;
  }
}
