@use "../abstracts";

:root {
  --color-black: 0, 0, 0;
  --color-background: 246, 241, 239;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: rgba(var(--color-black), 1);
  padding: 0rem 4rem 0rem 4rem;
  @include abstracts.respondMax(500px) {
    padding: 0rem 2rem 0rem 2rem;
  }
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
